config snmpd general
	option enabled '1'

config agent
	option agentaddress UDP:161

config com2sec public
	option secname ro
	option source default
	option community public

config com2sec private
	option secname rw
	option source default
	option community private

config group public_v2c
	option group public
	option version v2c
	option secname ro

config group private_v2c
	option group private
	option version v2c
	option secname rw

config view all
	option viewname all
	option type included
	option oid .1

config access public_access
	option group public
	option context '""'
	option version any
	option level noauth
	option prefix exact
	option read all
	option write none
	option notify none

config access private_access
	option group private
	option context '""'
	option version any
	option level noauth
	option prefix exact
	option read all
	option write all
	option notify all

config system
	option sysLocation	'office'
	option sysContact	'bofh@example.com'
	option sysName		'HeartOfGold'
#	option sysServices	72
#	option sysDescr		'adult playground'
#	option sysObjectID	'1.2.3.4'

config trapsink
	option host '0.0.0.0'
	option community 'secret'
	option port '162'
